.cardplaceholdercar{
    height: 150px;
    width: 150px;
}
.cardplaceholdercar1{
    height: 200px;
    width: 300px;
}
.inputfileimage{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}